<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div>
            <br>
            <br>
            <form id="lineAdd" novalidate>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="validationDefault01">Line Item</label>
                        <input type="text" class="form-control" id="item-name" placeholder="Expense Name" value="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault02">Category</label>
                        <select class="custom-select d-block my-3" id='categoryfill'required>
                            <option value="">Category Selection</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 mb-3">
                        <div class="form-group">
                            <label for="validationDefault03">Description:</label>
                            <textarea class="form-control" rows="5" id="comment" placeholder="Description of cost" required></textarea>
                            <div class="invalid-feedback">
                                Please provide reason for cost.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="costRe">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Reoccurring cost</span>
                        </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="disabledSelect">Recurrence</label>
                        <select id="disabledSelect" class="form-control">
                            <option>None</option>
                            <option>Monthly</option>
                            <option>Quarterly</option>
                            <option>Yearly</option>
                            <option>Five years</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <span class="input-group-addon">0.00</span>
                        <input type="text" id="money" class="form-control" aria-label="Amount (to the nearest dollar)" required>
                        <div class="invalid-feedback">
                            Please provide a valid cost.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <a class="btn btn-primary" type="submit" id='item-form' href='/display/lineitem'>Submit</a>
                <a class="btn btn-primary" type="submit" href="/create/lineitem" id='item-form'>Add Another</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/lineitem.js"></script>