<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div id="catAdd" novalidate>
            <br>
            <br>
            <form>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="validationDefault01">Category</label>
                        <input type="text" class="form-control" id="category-name" placeholder="Category Name" value="" required>
                    </div>
                </div>
                <br>
                <a class="btn btn-primary" type="submit" id='category-form' href='/display/category'>Submit</a>
            </form>
        </div>
    </div>
</div>
<script src="/js/category.js"></script>