<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
        <div class="jumbotron">
            <h1 class="text-center"> PN Budget</h1>
            <hr>
            <img class="img-responsive center-block" src="">
        </div>
    {{{body}}}
  </body>
</html>
