
<div class="budget-container" id='budget'>
    <h1>{{title}}</h1>
{{!--     <table class="table table-striped">
        <thead>
            <tr>
                <th>Line Item</th>
                <th>Cost</th
                <th>Description</th>
                <th>Cost Model</th>
                <th>Date Created</th>
                <th>Edit Item</th>
            </tr>
        </thead>
       <tbody>
            <tr id="form-row">


                <form id="author-form">
                    <td colspan="4">
                        <input placeholder="Enter a name" id="author-name" type="text" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success">Edit</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table> --}}
    <div id='tableBuild'>
    </div>
</div>



<script src="/js/table.js"></script>
